<!DOCTYPE html>
<html>

<head>
    <title>Account</title>

    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <!-- <link rel="icon" type="image/png" href="assets/AT-pro-logo.png"/> -->

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> -->
    <!-- Import lib -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- End import lib -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/account.style.css">
</head>

<body class="overlay-scrollbar">

    <!-- navbar -->
    <%- include('../partials/navbar.admin.ejs'); -%>
	<!-- end navbar -->
	<!-- sidebar -->
	<%- include('../partials/sidebar.admin.ejs'); -%>
    <!-- end sidebar -->
    <!-- main content -->
    <div class="wrapper">
        <div class="row">
            <div class="col-12 col-m-12 col-sm-12">
                <div class="card card-quan-ly-tai-khoan">
                    <div class="card-header">
                        <h3>Quản lý tài khoản</h3>
                    </div>
                    <% let link_register ="/admin/register"%>
                    <a href= "<%= link_register %>" class="btn-add-class">
                        <!--href="/admin/class/add"-->
                        <button type="button" class="btn btn-primary">Register</button>
                    </a>
                    <% if (listAccount === []) {%>
                    <p>Không có danh sách để hiển thị</p>
                    <% } %>
                    <div class="card-content">
                        <table>
                            <thead>
                                <th>STT</th>
                                <th>Họ và tên</th>
                                <th>ID</th>
                                <th>Role</th>
                                <th>Xem chi tiết</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <% let i = 1; listAccount.forEach(element => { %>
                                <% if (element.role !== "admin") { %>
                                <tr>
                                    <td><%= i %></td>
                                    <td><%= element.name %></td>
                                    <td><%= element.id %></td>
                                    <td><%= element.role %></td>
                                    <td>
                                        <a href=""></a>
                                    </td>
                                    <!-- <td><input type="text" class="input-password <%= element._id %>"></td> -->
                                    <!-- <td><button type="submit" class="btn-password <%= element._id %>">Lưu mật
                                            khẩu</button></td> -->
                                </tr>
                                <% i++ }  }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- <div class="col-4 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h3>
							Progress bar
						</h3>
						<i class="fas fa-ellipsis-h"></i>
					</div>
					<div class="card-content">
						<div class="progress-wrapper">
							<p>
								Less than 1 hour
								<span class="float-right">50%</span>
							</p>
							<div class="progress">
								<div class="bg-success" style="width: 50%"></div>
							</div>
						</div>
						<div class="progress-wrapper">
							<p>
								1 - 3 hours
								<span class="float-right">60%</span>
							</p>
							<div class="progress">
								<div class="bg-primary" style="width:60%"></div>
							</div>
						</div>
						<div class="progress-wrapper">
							<p>
								More than 3 hours
								<span class="float-right">40%</span>
							</p>
							<div class="progress">
								<div class="bg-warning" style="width:40%"></div>
							</div>
						</div>
						<div class="progress-wrapper">
							<p>
								More than 6 hours
								<span class="float-right">20%</span>
							</p>
							<div class="progress">
								<div class="bg-danger" style="width:20%"></div>
							</div>
						</div>
					</div>
				</div>
			</div> -->
        </div>
        <!-- <div class="row">
			<div class="col-12 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h3>
							Chartjs
						</h3>
					</div>
					<div class="card-content">
						<canvas id="myChart"></canvas>
					</div>
				</div>
			</div>
		</div> -->
    </div>
    <!-- end main content -->
    <!-- import script -->
    <script src="/js/account.admin.js"></script>
    <script type="text/javascript">
        $(document).ready(() => {
            var btn_pass = $('.btn-password')
            btn_pass.click(() => {
                var userId = $('this').prevObject.attr('activeElement').classList[1]
                var input_pass = $('.input-password'+'.'+userId).val()

                console.log(input_pass);
            })
        })
    </script>
    <!-- end import script -->
</body>

</html>