<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Class</title>
    <link rel="stylesheet" type="text/css" href="\css\liststudent.admin.css">
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body>
    <!-- Notifications -->
    <div class="alert hide">
        <span class="fas fa-exclamation-circle"></span>
        <span class="msg">Error: <span class="notification-alert"></span> !</span>
        <div class="close-btn-alert">
            <span class="fas fa-times"></span>
        </div>
    </div>

    <div class="success hide">
        <span class="fas fa-exclamation-circle"></span>
        <span class="msg">Success: <span class="notification-success"></span> !</span>
        <div class="close-btn-success">
            <span class="fas fa-times"></span>
        </div>
    </div>

    <a href="/admin/timetable">Back</a>

    <br>
    <label for="name">Họ và tên:</label><br>
    <input type="text" name="studentname" class="input-studentname-add"><br>
    <label for="SDT">SDT:</label><br>
    <input type="text" name="studentphone" class="input-studentphone-add"><br><br>
    <button type="submit" class="<%= timetableId %> btn-add" style="display: block;">Add</button>
    <button  class="<%= timetableId %> btn-delete-timetable" style="display: block;">Delete timetable</button>
    <!-- </form> -->
    <table>
        <thead>
            <tr>
                <th>STT</th>
                <th>ID</th>
                <th>Tên học viên</th>
                <th>SDT</th>
                <th>Có mặt</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <% if (!foundList) { %>
            <p>Không có danh sách học viên để hiển thị</p>
            <% } else { %>
            <% for (var i = 0; i< foundList.length; i++) {%>
            <tr>

                <td><%= i + 1 %></td>
                <td class="<%= foundList[i]._id %> studentid"><%= foundList[i]._id %></td>
                <td class="<%= foundList[i]._id %> input_studentname"><%= foundList[i].studentname %></td>
                <td class="<%= foundList[i]._id %> input_studentphone"><%= foundList[i].studentphone %></td>
                <td>
                    <% if (foundList[i].isPresent === 'false') {%>
                    <input type="checkbox" class="<%= foundList[i]._id %> input-isPresent" disabled="disabled">
                    <%} else {%>
                    <input type="checkbox" class="<%= foundList[i]._id %> input-isPresent" checked="checked"
                        disabled="disabled">
                    <% } %>
                </td>
                <td>
                    <a class="btn btn-primary btn-sm btn-update <%= foundList[i]._id %>" href="javascript:;"
                        role="button">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-danger btn-sm btn-delete <%= foundList[i]._id %>" href="javascript:;"
                        role="button">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    <button type="submit" class="<%= foundList[i]._id %> btn-save">Save</button>
                </td>
                <td>
                    <button type="submit" class="<%= foundList[i]._id %> btn-cancel">Cancel</button>
                </td>
                <!-- </form> -->
            </tr>
            <% } %>
            <% } %>
        </tbody>
    </table>
    <script src="\js\liststudent.admin.js"></script>
    <!-- AJAX UPDATE -->
    <script type="module">
        import {alertNotification, successNotification} from '/js/notification.js'
        $(document).ready(function () {
            // menu autocomplete classid



            // ============================ ADD STUDENT ============================
            var add = $('.btn-add')
            add.click(() => {
                var studentname = $('.input-studentname-add').val()
                var studentphone = $('.input-studentphone-add').val()

                // Check studentname is ""
                if (studentname == '') {
                    alertNotification('Vui lòng nhập tên');
                    return false;
                }

                // Check studentphone is ""
                if (studentphone == '') {
                    alertNotification('Vui lòng nhập số điện thoại');
                    return false;
                }

                var url = window.location.href +"/add";
                $.post(url, {
                    studentname: studentname,
                    studentphone: studentphone
                }) 
                .done(function (msg) {
                    successNotification("Add student: " + studentname + " SDT: " + studentphone)
                    setTimeout(() => {
                        location.reload()
                    }, 2000)
                })
                .fail((xhr, status, error) => {
                    alertNotification(error)
                    setTimeout(() => {
                        location.reload()
                    }, 2000)
                })
                
                
                return false;
            })

            // ============================ UPDATE STUDENT =========================
            var save = $(".btn-save");

            save.click(function () {
                var studentid = $(this).attr('class').split(" ")[0]
                var studentname = $("." + studentid + ".input_studentname").html();
                var studentphone = $("." + studentid + ".input_studentphone").html();

                // Check studentname is ""
                if (studentname == '') {
                    alertNotification('Vui lòng nhập tên');
                    return false;
                }

                // Check studentphone is ""
                if (studentphone == '') {
                    alertNotification('Vui lòng nhập số điện thoại');
                    return false;
                }

                var url = window.location.href;
                $.post(url + "/update", {
                    studentid: studentid,
                    studentname: studentname,
                    studentphone: studentphone
                })
                .done(() => {
                    document.getElementsByClassName(studentid + " btn-save")[0].style.display =
                        "none"
                    document.getElementsByClassName(studentid + " btn-cancel")[0].style
                        .display = "none"

                    successNotification("Update student id#" + studentid)
                    setTimeout(() => {
                        location.reload()
                    }, 2000)
                }) 
                .fail((xhr, status, error) => {
                    alertNotification(error)
                    setTimeout(() => {
                        location.reload()
                    }, 2000)
                })
                return false;
            });
            // ========================== DELETE STUDENT =============================
            var btn_delete = $("a.btn-delete");
            btn_delete.click(() => {
                var studentid = $(this).attr('activeElement').classList[4]

                var studentname = $("." + studentid + ".input_studentname").html();
                var studentphone = $("." + studentid + ".input_studentphone").html();

                // Notifi to confirm delete
                if (confirm("Press OK to confirm delete.\nPress Cancel to cancel delete.")) {
                    var url = window.location.href;
                    $.post(url + "/delete", {
                        studentid: studentid
                    })
                    .done(() => {
                        successNotification("Delete student id#" + studentid)
                        setTimeout((xhr, status, error)=> {
                            location.reload()
                        }, 2000)
                    })
                    .fail(() => {
                        alertNotification(error)
                        setTimeout((xhr, status, error)=> {
                            location.reload()
                        }, 2000)
                    })

                    return false
                } else {

                }
                return false
            })

            // ========================== DELETE TIMETABLE ==============================
            var btn_delete_timetable = $('.btn-delete-timetable')
            btn_delete_timetable.click(() => {
                var timetableId = $(this).attr('activeElement').classList[0]
                
                if (confirm("Press OK to confirm delete timetable.\nPress Cancel to cancel delete.")) {
                    var url = window.location.href;
                    $.post(url + "/deleteTimetable", {})
                    .done(() => {
                        successNotification("Delete timetable id#" + timetableId)
                        setTimeout(() => {
                            window.location = "/admin/timetable"
                        }, 2000)
                    })
                    .fail((xhr, status, error) => {
                        alertNotification(error)
                    })
    
                    return false;
                } else {

                }
                return false
            })
        });
    </script>
</body>

</html>