<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Class</title>
    <link rel="stylesheet" type="text/css" href="\css\liststudent.admin.css">
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <% let add_url = "/admin/class/"+ classid %>
    <a href="/admin/class">Back</a>
    <!-- <form action="<%= add_url %>" method="POST"> -->
        <br>
        <label for="name">Họ và tên:</label><br>
        <input type="text" name="studentname" class="input-studentname-add"><br>
        <label for="SDT">SDT:</label><br>
        <input type="text" name="studentphone" class="input-studentphone-add"><br><br>
        <button type="submit" class="<%= classid %> btn-add"
            style="display: block;">Add</button>
    <!-- </form> -->
    <table>
        <thead>
            <tr>
                <th>STT</th>
                <th>ID</th>
                <th>Tên học viên</th>
                <th>SDT</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <% if (!foundList) { %>
            <p>Không có danh sách học viên để hiển thị</p>
            <% } else { %>
            <% for (var i = 0; i< foundList.length; i++) {%>
            <tr>
                <%const update_url = add_url + "/update"%>
                <!-- <form action="<%=update_url%>" method="POST"> -->
                <td><%= i + 1 %></td>
                <td class="<%= foundList[i]._id %> studentid"><%= foundList[i]._id %></td>
                <td class="<%= foundList[i]._id %> input_studentname"><%= foundList[i].studentname %></td>
                <td class="<%= foundList[i]._id %> input_studentphone"><%= foundList[i].studentphone %></td>
                <td>
                    <a class="btn btn-primary btn-sm btn-update <%= foundList[i]._id %>" href="javascript:;"
                        role="button">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-danger btn-sm btn-delete <%= foundList[i]._id %>" href="javascript:;"
                        role="button">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    <button type="submit" class="<%= foundList[i]._id %> btn-save">Save</button>
                </td>
                <td>
                    <button type="submit" class="<%= foundList[i]._id %> btn-cancel">Cancel</button>
                </td>
                <!-- </form> -->
            </tr>
            <% } %>
            <% } %>
        </tbody>
    </table>
    <script src="\js\liststudent.admin.js"></script>
    <!-- AJAX UPDATE -->
    <script type="text/javascript">
        $(document).ready(function () {

            // ============================ ADD STUDENT ============================
            var add = $('.btn-add')
            add.click(() => {
                var studentname = $('.input-studentname-add').val()
                var studentphone = $('.input-studentphone-add').val()
                
                // Check studentname is ""
                if (studentname == '') {
                    alert('Vui lòng nhập tên');
                    return false;
                }

                // Check studentphone is ""
                if (studentphone == '') {
                    alert('Vui lòng nhập số điện thoại');
                    return false;
                }

                var url = window.location.href;
                $.post(url, {
                    studentname: studentname,
                    studentphone: studentphone
                }, function () {
                    alert("Add student" + "\nStudent name: " + studentname +
                        "\nStudent phone: " + studentphone)
                    location.reload();
                })
                return false;
            })

            // ============================ UPDATE STUDENT =========================
            var save = $(".btn-save");

            save.click(function () {
                var studentid = $(this).attr('class').split(" ")[0]
                var studentname = $("." + studentid + ".input_studentname").html();
                var studentphone = $("." + studentid + ".input_studentphone").html();

                // Check studentname is ""
                if (studentname == '') {
                    alert('Vui lòng nhập tên');
                    return false;
                }

                // Check studentphone is ""
                if (studentphone == '') {
                    alert('Vui lòng nhập số điện thoại');
                    return false;
                }

                var url = window.location.href;
                $.post(url + "/update", {
                    studentid: studentid,
                    studentname: studentname,
                    studentphone: studentphone
                }, function () {
                    document.getElementsByClassName(studentid + " btn-save")[0].style.display = "none"
                    document.getElementsByClassName(studentid + " btn-cancel")[0].style.display = "none"
                    alert("Update student id#" + studentid + "\nStudent name: " + studentname +
                        "\nStudent phone: " + studentphone)
                    location.reload();
                })
                return false;
            });
            // ========================== DELETE STUDENT =============================
            var btn_delete = $("a.btn-delete");
            btn_delete.click(() => {
                var studentid = $(this).attr('activeElement').classList[4]
                
                var studentname = $("." + studentid + ".input_studentname").html();
                var studentphone = $("." + studentid + ".input_studentphone").html();

                // Notifi to confirm delete
                if (confirm("Press OK to confirm delete.\nPress Cancel to cancel delete.")) {
                    var url = window.location.href;
                    $.post(url + "/delete", {
                        studentid: studentid
                    }, function () {
                        alert("Delete student id#" + studentid + "\nStudent name: " +
                            studentname + "\nStudent phone: " + studentphone)
                        location.reload()
                    })
                    return false;
                } else {
                   
                }
                return false
            })
        });
    </script>
</body>

</html>