<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>

	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<!-- <link rel="icon" type="image/png" href="assets/AT-pro-logo.png"/> -->

	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> -->
	<!-- Import lib -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<!-- End import lib -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" href="css/admin.style.css">
</head>
<body class="overlay-scrollbar">

	<%- include('partials/navbar.admin.ejs'); -%>
	<!-- end navbar -->
	<!-- sidebar -->
	<%- include('partials/sidebar.admin.ejs'); -%>
	
	<!-- end sidebar -->
	<!-- main content -->
	<div class="wrapper">
		<div class="row">
			<div class="col-12 col-m-12 col-sm-12">
				<div class="card card-quan-ly-diem-danh-cham-cong">
					<div class="card-header ">
						<h3>
							Quản lý điểm danh và chấm công
						</h3>
						<!-- <i class="fas fa-ellipsis-h"></i> -->
					</div>
					
					
					<div class="card-content">
						<table>
							<thead>
								<tr>
									<th>STT</th>
									<th>ID</th>
									<th>Họ và tên</th>
									<th>SDT</th>
									<th>ID lớp</th>
									<th>Tên giáo viên</th>
									<th>Có mặt</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>5dgoiegndsdogjn</td>
									<td>Trần Anh Quốc</td>
									<td>0961724171</td>
									<td>AH1</td>
									<td>Trần Ngọc Hiệp</td>
									<td>
										<span class="dot">
											<i class="bg-success"></i>
											Có
										</span>
									</td>
								</tr>
								<tr>
									<td>2</td>
									<td>2fasosandsdogjn</td>
									<td>Nguyễn Văn Quốc</td>
									<td>0128177464</td>
									<td>LM2</td>
									<td>Lê Văn Anh</td>
									<td>
										<span class="dot">
											<i class="bg-danger"></i>
											Không
										</span>
									</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
				<div class="card card-quan-ly-lop-hoc">
					<div class="card-header ">
						<h3>
							Quản lý lớp học
						</h3>
						<!-- <i class="fas fa-ellipsis-h"></i> -->
					</div>
					<a  class="btn-add-class"> <!--href="/admin/class/add"-->
						<button type="button" class="btn btn-primary">Add</button>
					</a>
					<form action="/admin/class" method="POST" class="form-add-class">
						<label for="classid">ID lớp</label><br>
						<input type="text" name="classid"><br>
						<label for="classname">Tên lớp</label><br>
						<input type="text"name="classname"><br><br>
						<input type="submit" value="Submit">
					  </form> 
					<div class="card-content">
						<table>
							<thead>
								<tr>
									<th>STT</th>
									<th>ID Lớp</th>
									<th>Tên lớp</th>
									<th>Danh sách học viên</th>
									
								</tr>
							</thead>
							
							<tbody>
								<% if (!listClass) { %>
								<p>Không có lớp để hiển thị</p>
								<% } else { %>
								<% for (var i = 0; i< listClass.length; i++) {%>
								<tr>
									<td><%= i + 1 %></td>
									<td><%= listClass[i].classid %></td>
									<td><%= listClass[i].classname %></td>
									<% var href = "/admin/class/" + listClass[i]._id%>
									<td>
										<a style="text-decoration: none; font-style: italic;" href="<%= href %>" > Xem chi tiết</a>
									</td> 
									<td>
										<a class="btn btn-primary btn-sm btn-update " href="javascript:;"
											role="button">
											<i class="fa fa-pencil" aria-hidden="true"></i>
										</a>
									</td>
									<td>
										<a class="btn btn-danger btn-sm btn-delete " href="javascript:;"
											role="button">
											<i class="fa fa-trash" aria-hidden="true"></i>
										</a>
									</td>
									<td>	
										<button type="submit" class="btn-save">Save</button>
										<button type="submit" class="btn-cancel">Cancel</button>
									</td>
								</tr>
								<% } %>
								<% } %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- <div class="col-4 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h3>
							Progress bar
						</h3>
						<i class="fas fa-ellipsis-h"></i>
					</div>
					<div class="card-content">
						<div class="progress-wrapper">
							<p>
								Less than 1 hour
								<span class="float-right">50%</span>
							</p>
							<div class="progress">
								<div class="bg-success" style="width: 50%"></div>
							</div>
						</div>
						<div class="progress-wrapper">
							<p>
								1 - 3 hours
								<span class="float-right">60%</span>
							</p>
							<div class="progress">
								<div class="bg-primary" style="width:60%"></div>
							</div>
						</div>
						<div class="progress-wrapper">
							<p>
								More than 3 hours
								<span class="float-right">40%</span>
							</p>
							<div class="progress">
								<div class="bg-warning" style="width:40%"></div>
							</div>
						</div>
						<div class="progress-wrapper">
							<p>
								More than 6 hours
								<span class="float-right">20%</span>
							</p>
							<div class="progress">
								<div class="bg-danger" style="width:20%"></div>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</div>
		<!-- <div class="row">
			<div class="col-12 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h3>
							Chartjs
						</h3>
					</div>
					<div class="card-content">
						<canvas id="myChart"></canvas>
					</div>
				</div>
			</div>
		</div> -->
	</div>
	<!-- end main content -->
	<!-- import script -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
	<script src="js/admin.js"></script>
	<!-- end import script -->
</body>
</html>